In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as s

In [ ]:
dataset=pd.read_csv('/content/Heart_Disease_Prediction.csv')

In [ ]:
dataset.head()

   Age  Sex  Chest pain type  ...  Number of vessels fluro  Thallium  Heart Disease
0   70    1                4  ...                        3         3       Presence
1   67    0                3  ...                        0         7        Absence
2   57    1                2  ...                        0         7       Presence
3   64    1                4  ...                        1         7        Absence
4   74    0                2  ...                        1         3        Absence

[5 rows x 14 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              270 non-null    int64
 5   FBS over 120             270 non-null    int64
 6   EKG results              270 non-null    int64
 7   Max HR                   270 non-null    int64
 8   Exercise angina          270 non-null    int64
 9   ST depression            270 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    object
dtypes: float64(1), int64(12), object(1)
memory usage: 29.7+ KB

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scalar=StandardScaler()

In [ ]:
scalar.fit(dataset.drop('Heart Disease',axis=1))

StandardScaler()

In [ ]:
x=scalar.transform(dataset.drop('Heart Disease',axis=1))

In [ ]:
x

array([[ 1.71209356,  0.6894997 ,  0.87092765, ...,  0.67641928,
         2.47268219, -0.87570581],
       [ 1.38213977, -1.45032695, -0.18355874, ...,  0.67641928,
        -0.71153494,  1.18927733],
       [ 0.2822938 ,  0.6894997 , -1.23804513, ..., -0.95423434,
        -0.71153494,  1.18927733],
       ...,
       [ 0.1723092 , -1.45032695, -1.23804513, ...,  0.67641928,
        -0.71153494, -0.87570581],
       [ 0.2822938 ,  0.6894997 ,  0.87092765, ...,  0.67641928,
        -0.71153494,  0.67303154],
       [ 1.38213977,  0.6894997 ,  0.87092765, ...,  0.67641928,
         2.47268219, -0.87570581]])

In [ ]:
newdataset=pd.DataFrame(x,columns=dataset.columns[:-1])

In [ ]:
newdataset

          Age       Sex  ...  Number of vessels fluro  Thallium
0    1.712094  0.689500  ...                 2.472682 -0.875706
1    1.382140 -1.450327  ...                -0.711535  1.189277
2    0.282294  0.689500  ...                -0.711535  1.189277
3    1.052186  0.689500  ...                 0.349871  1.189277
4    2.152032 -1.450327  ...                 0.349871 -0.875706
..        ...       ...  ...                      ...       ...
265 -0.267629  0.689500  ...                -0.711535  1.189277
266 -1.147506  0.689500  ...                -0.711535  1.189277
267  0.172309 -1.450327  ...                -0.711535 -0.875706
268  0.282294  0.689500  ...                -0.711535  0.673032
269  1.382140  0.689500  ...                 2.472682 -0.875706

[270 rows x 13 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x=newdataset
y=dataset['Heart Disease']

In [ ]:
x

          Age       Sex  ...  Number of vessels fluro  Thallium
0    1.712094  0.689500  ...                 2.472682 -0.875706
1    1.382140 -1.450327  ...                -0.711535  1.189277
2    0.282294  0.689500  ...                -0.711535  1.189277
3    1.052186  0.689500  ...                 0.349871  1.189277
4    2.152032 -1.450327  ...                 0.349871 -0.875706
..        ...       ...  ...                      ...       ...
265 -0.267629  0.689500  ...                -0.711535  1.189277
266 -1.147506  0.689500  ...                -0.711535  1.189277
267  0.172309 -1.450327  ...                -0.711535 -0.875706
268  0.282294  0.689500  ...                -0.711535  0.673032
269  1.382140  0.689500  ...                 2.472682 -0.875706

[270 rows x 13 columns]

In [ ]:
y

0      Presence
1       Absence
2      Presence
3       Absence
4       Absence
         ...
265     Absence
266     Absence
267     Absence
268     Absence
269    Presence
Name: Heart Disease, Length: 270, dtype: object

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,stratify=y,test_size=0.2,random_state=20)

In [ ]:
from sklearn.naive_bayes import GaussianNB,BernoulliNB,CategoricalNB
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score

In [ ]:
scores=[]
classifier=GaussianNB()
classifier.fit(X_train,Y_train)
y_pred=classifier.predict(X_test)
scores.append(accuracy_score(Y_test,y_pred))
cm=confusion_matrix(Y_test,y_pred)
cm

array([[29,  1],
       [ 4, 20]])

In [ ]:
print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

     Absence       0.88      0.97      0.92        30
    Presence       0.95      0.83      0.89        24

    accuracy                           0.91        54
   macro avg       0.92      0.90      0.90        54
weighted avg       0.91      0.91      0.91        54